@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body {
	background-color: #eaeaea;
	scroll-behavior: smooth;
	font-family: 'Quicksand', sans-serif !important;
}

/* product */

.product img{
	height: 200px !important;
}
.product .card-title{
	font-size: 16px !important;
	font-weight: 800 !important;
}
.product .list-group-item{
	font-size: 14px !important;
}
/* product */

